.button_place-grid {
  position: absolute;
  left: 22px;
  top: 30px;
  box-sizing: border-box;
}

.button_place-grid:hover {
  border: 1px solid #232323;
}

.button_place-grid:active {
  background-color: plum;
  border: 1px solid #4a90e2;
}